/*  Put your CSS Here */

/* background */

@font-face {
  src: url(
    https://fonts.googleapis.com/css?family=Poppins:100,
    100i,
    200,
    200i,
    300,
    300i,
    400,
    400i,
    500,
    500i,
    600,
    600i,
    700,
    700i,
    800,
    800i,
    900,
    900i
  );
  font-family: nos;
}

.container {
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* form box */

.form-wrapper img {
  width: 308px;
  height: 450px;
  background: url(bg-heading-03.jpg);
  border-radius: 8px 0px 0px 8px;
}

.form {
  position: absolute;
  width: 308px;
  height: 450px;
  left: 308px;
  top: 0;

  background: #000000;
  border-radius: 0px 8px 8px 0px;
}

.form-wrapper {
  position: absolute;
  margin: auto;
  top: 225px;
  left: 625px;
}

.form h1 {
  position: absolute;
  color: white;
  font-size: 1.9rem;
  top: 40px;
  left: 40px;
  font-weight: 200;
  letter-spacing: -0.01em;
}

select {
  -webkit-appearance: none;
  width: 230px;
  background-color: black;
  color: #aaaaaa;
  font-size: 1rem;
  border-bottom: 1px solid #333333;
  padding-bottom: 6px;
}

.select-field {
  margin-bottom: 20px;
  margin-top: 20px;
}

form {
  position: absolute;
  top: 70px;
  left: 40px;
  box-shadow: 10px 10px black;
}

.field {
  padding-bottom: 20px;
  padding-top: 20px;
}

::placeholder {
  color: #aaaaaa;
}

input {
  background: black;
  border-bottom: 1px solid #333333;
  padding-bottom: 6px;
  width: 230px;
  color: white;
  font-size: 1rem;
}

.submit-btn {
  position: absolute;
  width: 100px;
  height: 31px;
  left: 0;
  background: #3db654;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 20px;
}

.submit-btn:hover {
  background-color: #fbc2eb;
}

.selectWrapper {
  position: relative;
}
.selectWrapper:after {
  content: ">";
  font: 17px "Consolas", monospace;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  pointer-events: none;

  right: 10px;
  bottom: 155px;
  color: white;
}
